<nav class="navbar navbar-inverse">
  <!-- Navbar content -->
  <p><header>
		<div class="header-item">
			<nav class="nav navbar-nav navbar-left"><div class="bookers">Bookers</div></nav>
			<nav class="nav navbar-nav navbar-right">
				<ul class="nav-list clearfix">
					<li class="nav-list-item"><a href="#home">Home</a></li>
					<li class="nav-list-item">
						<a href="#about">About</a></li>
					<li class="nav-list-item"><a href="#sign_up">sign up</a></li>
					<li class="nav-list-item"><a href="#login">login</a></li>
				</ul>
			</nav>
		</div>
	</header></p>
</nav>

<div class="container">
	<div class="row">
		<div class="side-bar">
			<div class="user-box>">
				<div class="user-info-headline">User info</div>
				<!--ここに画像-->
				<div class="border"></div>
				<div name-box>name</div>
				<div class="border"></div>
				<div introduction-box>introduction</div>
				<div create-bottan></div>
		    </div>
		    <div class="new-book-box">
		    	<div new-book-headline>New Book</div>
		    </div>
		</div>
	</div>
</div>