/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

a{
	text-decoration: none;
	color: gray;
}
a:link{
    color: gray;

}
a:visited{
    color: gray;
}
a:hover{
    color: white; text-decoration: none;
}

.navbar{
	background-color: black;
	border-radius: 0px;
}

.bookers{
	color: white;
	font-size: 24px;
}
li{
    list-style: none;
}

.navbar-left{
	margin-left: 200px;
}
.navbar-right{
	margin-right: 200px;
}
.nav-list-item{
	float: left;
	margin-left: 50px;
}

.create-book{
	padding-bottom: 5px;
}

.border{
	border: 1px solid gray;
}




.update-user{
	padding-bottom: 5px;
}
.name-box{
	padding: 5px 0;
}

.top-page{
	width: 100%;
}
.top-content{
	width: 40%;
	margin: 0 auto;
}
.top-headline{
	margin: 0 auto;
}
.copy-right{
	position: absolute;
	right: 250px;
}

.book-btn{
	padding-top: 5px;
}

.error-m{
	color: red;
}

.error-m2{
	color: red;
}

.out-m{
	position: absolute;
	left: 200px;
}